/* Tao thanh navbar */

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #ff6533, #f53e2d);
}


/* Phan cach cac ul */

.header__navbar {
    display: flex;
    justify-content: space-between;
}


/* Xoa padding tu dong cua trinh duyet */

.header__navbar-list {
    display: inline-flex;
    list-style: none;
    padding-left: 0;
    margin-top: 4px 0 0 0;
}


/* Khoang cach cac item */

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}


/* Cai dat mau,size cho item navbar */

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    /*Cac item khong xuong dong*/
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    /*Xoa dau _ link*/
    font-weight: 400;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}


/* re chuot chuyen mau */

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}


/* In dam nut Dang ky, Dang nhap */

.header__navbar-item--strong {
    font-weight: 401;
}


/* Dau phan cach */

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 3px solid #f86c5b;
    height: 14px;
    right: -11px;
    top: 50%;
    transform: translateY(-50%);
}


/* Dieu chinh icon link*/

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}


/*dieu chinh icon*/

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}


/*Tat chuyen mau va pointer tai title ket noi*/

.header__navbar-title {
    cursor: text;
    color: var(--white-color);
}

.header__qr {
    width: 180px;
    left: 0;
    top: 116%;
    border-radius: 4px;
    position: absolute;
    animation: faceIn ease 0.3s;
    display: none;
}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 12%;
    top: -5%;
    /*     background-color: #333; */
}

.header__qr-img {
    width: 100%;
    background-color: var(--white-color);
    padding: 4px;
}

.header__qr-app {
    display: flex;
    justify-content: space-between;
}

.header__qr-app-download-img {
    height: 15px;
}

.header__qr-link:nth-child(1) {
    margin-left: 15px;
}

.header__qr-link:nth-child(2) {
    margin-right: 15px;
}

.header__navbar-item--modified:hover .header__qr {
    display: block;
}

.header__navbar-item--modified:hover .header__notification {
    display: block;
}

.header__notification {
    margin-top: 7px;
    position: absolute;
    top: 116%;
    width: 404px;
    right: 0;
    border: 2px solid #D3D3D3;
    background-color: var(--white-color);
    transform-origin: calc( 100% - 40px) top;
    /* Xac dinh tam de cai animation */
    animation: headernotificationgrowth ease-in 0.25s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}

@keyframes headernotificationgrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notification::before {
    content: "";
    border-width: 20px 28px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -30px;
    right: 10px;
}

.header__notification::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    top: -3%;
    /*     background-color: #333;*/
    position: absolute;
}

.header__notification-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notification-header:hover {
    cursor: default;
    user-select: none;
}

.header__notification-header h3 {
    color: #999;
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 40px;
    padding: 0 10px;
}

.header__notification-list {
    padding-left: 0;
}

.header__notification-item {
    display: flex;
}

.header__notification-item:hover {
    background-color: rgba(248, 144, 115, 0.05);
}

.header__notification--viewed {
    background-color: rgba(228, 57, 10, 0.09);
}

.header__notification-link {
    display: flex;
    padding: 10px;
    text-decoration: none;
}

.header__notification-img {
    width: 50px;
}

.header__notification-infor {
    margin-left: 10px;
}

.header__notification-name {
    display: block;
    font-size: 14px;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notification-description {
    display: block;
    font-size: 12px;
    color: #756F5E;
    margin-top: 4px;
    line-height: 1.8rem;
}

.header__notification-footer {
    display: flex;
}

.header__notification-footer:hover {
    background-color: rgba(247, 152, 126, 0.02);
}

.header__notification-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 6px 0;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}


/* Authen modal */

.auth-form {
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #778;
}

.auth-form__aside {
    margin-top: 10px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 10px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth_form__controls {
    margin-top: 80px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.auth_form__controls-back {
    margin-right: 8px;
}

.auth-from__socials {
    background-color: #f1eeee;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    padding: 10px 32px;
    border-radius: 5px;
}

.btn--size-s {
    height: 32px;
    font-size: 14px;
}

.btn--with-icon {
    width: 48%;
    display: flex;
    justify-content: space-evenly;
}

.auth-from__socials-icon {
    font-size: 20px;
    padding-left: 0px;
}

.auth-from__socials--fb {
    background-color: #0958b3;
    color: var(--white-color);
}

.auth-from__socials--gg {
    background-color: var(--white-color);
    color: #666;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    /*Dich sang phia trai */
}

.auth-form__help-link {
    text-decoration: none;
    margin-left: 10px;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help--separate {
    display: block;
    width: 1px;
    background-color: var(--border-color);
    margin-left: 10px;
}

.auth-form__help-fpass {
    color: var(--primary-color);
}


/* Header with search */

.header-with-search {
    height: var(--search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    height: 50px;
    width: 165px;
}

.header__search {
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    /*  display: flex;
    justify-content: center; */
    text-align: center;
}

.header__cart-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__search-input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--white-color);
    padding: 0 6px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
}

.header__search-select-lable {
    font-size: 1.5rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.5rem;
    color: #666;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-button {
    width: 60px;
    height: 86%;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}

.header__search-button:hover {
    cursor: pointer;
    background-color: #f86c5b;
}

.header__search-button-icon {
    color: #fff;
    font-size: 1.5rem;
    border: 2px #f1eeee;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 120%;
    width: 120px;
    list-style: none;
    box-shadow: 0 0 3px #ccc;
    padding: 0;
    display: none;
}

.header__search-option-item {
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 8px 8px;
}

.header__search-option-item span {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 0 0 0 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-option-item:hover {
    background-color: #fafafa;
}

.header__search-option::before {
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 100%;
    top: -20px;
}

.header__search-select:hover .header__search-option {
    cursor: pointer;
    display: block;
}

.header__search-option-item:first-child {
    border-radius: 3px;
}

.header__search-option-item:last-child {
    border-radius: 3px;
}